{% extends "_layout.html" %}
{% block content %}


<div class="container">
        <h1>Edit Username: {{ current_user.name }} </h1>
    <form action="{{ url_for('users.update', id=current_user.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <input 
            class="form-control"
            type="text"
            name="name"
            value="{{ user.name }}" 
            />
        </div>

        <h1>Edit Email: {{ current_user.email }} </h1>
        <div class="form-group">
            <input 
            class="form-control"
            type="text"
            name="email"
            value="{{ user.email }}" 
            />
        </div>

        <h1>Edit Profile Bio</h1>
        <div class="form-group">
            <input
            class="form-control"
            type="text"
            name="bio"
            value="{{ user.bio }}"
            />
            
        </div>

        <div class="form-check">
            {% if user.private == True %}
           <input type="checkbox" class="form-check-input" name="private" checked> 
            {% else %}
            <input type="checkbox" class="form-check-input" name="private">
            {% endif %}
        <label class="form-check-label" for="exampleCheck1">Set Profile To Private</label>
        </div>

    <button class="btn btn-outline-success d-block mx-auto">Update</button>
</form>
</div>

{% endblock %}