{% extends "_layout.html" %}
{% block content %}


<div class="container">
        <h1>Edit Username: {{ current_user.name }} </h1>
    <form action="{{ url_for('users.update', id=current_user.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <input 
            class="form-control"
            type="text"
            name="name"
            value="{{ user.name }}" 
            />
        </div>

        <h1>Edit Email: {{ current_user.email }} </h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <input 
            class="form-control"
            type="text"
            name="email"
            value="{{ user.email }}" 
            />
        </div>

    <button class="btn btn-outline-success d-block mx-auto">Update</button>
</form>
</div>

{% endblock %}