{% extends "_layout.html" %}
{% block content %}


<div class="text-center">
    <p class="col-12 font-italic text-md-right font-weight-light">Currently signed in as: {{current_user.name}} </p>
</div>

<div class="container">
    <h2>{{user.name}}'s Profile Page</h2>
    <img class ="w-10 d-flex rounded-circle p-1 border border-dark" style="max-width: 20rem" src="{{user.profile_image_url}}" />
    
    <br>

    <form action="{{ url_for('fans_idols.create', idol_id=user.id) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-success" type="submit" value="Follow {{ user.name }}"/>
    </form>

    <br></br>

    <form action="{{ url_for('fans_idols.unfollow', idol_id=user.id) }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class="btn btn-success" type="submit" value="Unfollow {{ user.name }}"/>
        </form>

    <h2>{{user.name}}'s Images:</h2>
    
    <div class="row">

    {% if user.private == True and current_user != user %}

    <p class="text-center">Sorry! This user's account is set to private.</p>

    {% else %}

    {% for image in user.images %}
    <div class="card w-25 mx-auto d-block">
        <img class="card-img-top" style="height: 200px" src="{{image.image_path_url}}" />
        <div class="card-body">
            <a href="{{ url_for('donations.new', image_id=image.id)}}" class="btn btn-success mx-auto d-block">Donate Now</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}


</div>    

{% endblock %}