{% extends "_layout.html" %}
{% block content %}


<div class="text-center">
    <h1>Welcome, {{user.name}}</h1>
</div>

<div class="container">
    <h2>{{user.name}}'s Profile Page</h2>
    <img class ="w-10 d-flex rounded-circle p-1 border border-dark" style="max-width: 20rem" src="{{user.profile_image_url}}" />
    <br>

    <h2>{{user.name}}'s Images:</h2>
    
    <div class="row">

    {% for image in user.images %}
    <div class="card w-25 mx-auto d-block">
        <img class="card-img-top" src="{{image.image_path_url}}" />
        <div class="card-body">
            <a href="{{ url_for('donations.new', image_id=image.id)}}" class="btn btn-primary mx-auto d-block">Donate Now</a>
        </div>
    </div>
    
    {% endfor %}

</div>    

{% endblock %}