<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}{% endblock %}
    <title>{% block title %}{% endblock %}NEXTAGRAM</title>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="{{ url_for('home') }}"> <img src="https://img.icons8.com/clouds/2x/instagram.png" alt="nextagram logo" width="30px" height="30px" > Nextagram</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          {% if current_user.is_authenticated %}
          <li class="nav-item active">
              <a class="nav-link" href=" {{ url_for('sessions.logout') }}">Log Out</a>
            </li>
            {% else %}
            <a class="nav-link" href=" {{ url_for('sessions.new') }}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('users.new') }} ">Sign Up</a>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Do More Stuffs Here
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href=" {{ url_for('users.edit', id = current_user.id) }} ">Edit Account Settings</a>
              <a class="dropdown-item" href=" {{ url_for('images.new', id=current_user.id) }}">Upload Image</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control outline mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  
  <body>
  
    <div class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

  </div>

    {% for error in errors if errors|length > 0 %}
      <li>{{error}}</li>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </body>
</html>

