{% extends "_layout.html" %}
{% block title %}
  Homepage
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="text-center">
  <h3>Newsfeed</h3>
  {% if current_user.is_authenticated %}
  {% for image in current_user.images %}
  <ul>
  <div class="card w-25 mx-auto d-block">
      <img class="card-img-top" style="height: 200px" src="{{image.image_path_url}}" h6 class="card-subtitle mb-2 text-muted"> {{ image.user_id }} </h6>
    </div>
  </ul>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}

